.article-container{
    border-top: 1px solid #EBEBEB;
    padding-top: 48px;
    padding-bottom: 36px;
}

.article-col-inner{
    padding-left: 48px;
    padding-right: 48px;
}

.main-article-info{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-left: -12px;
    margin-right: -12px;
    span{
        margin-left: 12px;
        margin-right: 12px;
    }
}

.article-category{
    font-family: $fontInter;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    color: $red;
    text-transform: uppercase;
    display: flex;
    align-items: baseline;
    &::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $red;
        margin-left: 3px;
    }
}

.article-date, .article-info{
    color: #ABABAB;
    font-family: $fontInter;
    font-size: 12px;
    font-weight: 500;
}

.article-title{
    margin-top: 32px;
    margin-bottom: 32px;
    font-family: $fontPTSerif;
    font-size: 36px;
    font-weight: 1.4;
    color: $dark;
}

.article-description{
    font-family: $fontPTSerif;
    font-size: 22px;
    /*font-style: italic;*/
    line-height: 1.4;
    color: $lightDark;
}

.article-image{
    padding-top: 80px;
    border-bottom: 1px dashed #EBEBEB;
    img{
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .img-description{
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        margin-bottom: 16px;
        &, span, a{
            color: #ABABAB;
            font-family: $fontInter;
            font-size: 12px;
            font-weight: 500;
        }
        a{
            text-decoration: underline;
        }
    }
}



.content{
    // max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    p, a{
        font-family: $fontPTSerif;
        font-size: 19px;
        line-height: 1.57;
        color: $dark;
    }
    p{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    h2, h3, h4, h5, h6{
        font-family: $fontPTSerif;
        font-weight: normal;
        color: $dark;
        margin-top: 40px;
        margin-bottom: 24px;
    }
    h2{
        font-size: 28px;
    }
    h3{
        font-size: 26px;
    }
    h4{
        font-size: 24px;
    }
    h5{
        font-size: 22px;
    }
    a{
        color: $red;
    }
    .article-image{
        padding-top: 0;
        padding-bottom: 0;
    }
    img{
        display: block;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .big-quote{
        padding: 24px 0;
    }
    ul, ol{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        li{
            padding-left: 30px;
            position: relative;
            font-family: $fontPTSerif;
            font-size: 19px;
            line-height: 1.57;
            color: $dark;
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
    ol{
        padding-left: 20px;
        li{
            padding-left: 20px;
        }
    }
    ul{
        list-style: none;
        li{
            &::before{
                content: '';
                position: absolute;
                top: 14px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: $red;
            }
        }
    }
    blockquote{
        &, p{
            font-size: 22px;
        }
        &.small-blockquote{
            &, p{
                font-size: 19px;
            }
        }
    }
    .border-block{
        // margin-left: -128px;
        // margin-right: -128px;
        &.border-block-small{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .quotes-block{
        margin-top: 60px;
        margin-bottom: 32px;
        .section-quote-inner{
            padding: 12px 36px;
        }
        .section-quote-title {
            top: -12px;
        }
    }
    .slider-container{
        // margin-left: -128px;
        // margin-right: -128px;
    }
}

.banner-tech{
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px dashed #EBEBEB;
    border-bottom: 1px dashed #EBEBEB;
    margin-left: -44px;
    margin-right: -44px;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
}

blockquote{
    position: relative;
    padding-left: 30px;
    margin-top: 44px;
    margin-bottom: 44px;
    &, p{
        font-family: $fontPTSerif;
        font-size: 22px;
        font-weight: normal;
        font-style: italic;
        color: $dark;   
        line-height: 1.57;
    }
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 2px;
        background-color: $red;
    }
    &.small-blockquote{
        &, p{
            font-size: 19px;
        }
        &::before{
            background-color: #EBEBEB;
        }
    }
}

.separate-line{
    display: block;
    border-top: 1px dashed #EBEBEB;
    margin-top: 24px;
    margin-bottom: 24px;
}

.border-block{
    margin-top: 56px;
    margin-bottom: 32px;
    position: relative;
    padding: 47px 32px 32px;
    border: 1px solid #EBEBEB;
    .border-name-block{
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -12px;
        display: flex;
        justify-content: center;
        .border-name{
            display: inline-block;
            padding-left: 12px;
            padding-right: 12px;
            background-color: #fff;
            font-family: $fontInter;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .panel{
        .panel-category{
            font-size: 12px;
        }
        .panel-title{
            margin-bottom: 10px;
        }
    }
}

.border-panel{
    display: flex;
    align-items: center;
    margin-left: -16px;
    margin-right: -16px;
    .panel-image{
        padding-top: 32%;
        img{
            transition: all 1.2s cubic-bezier(0.25, 1, 0.5, 1);
        }
        &:hover{
            img{
                transform: scale(1.05);
            }
        }
    }
    .panel, .panel-image{
        width: calc(50% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
}

.bg-block, .block-text{
    .large-text{
        font-family: $fontPTSerif;
        font-size: 64px;
        line-height: 40px;
    }
    .bg-block-title{
        font-family: $fontPTSerif;
        font-size: 22px;
        line-height: 1.3;
    }
    .text{
        &, p{
            font-family: $fontInter;
            font-size: 14px;
            line-height: 1.4;
        }
    }
}

.bg-block{
    padding: 88px 77px 95px;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), linear-gradient(90deg, rgba(3, 3, 3, 0.3) 0%, rgba(1, 1, 1, 0.3) 35.82%, rgba(0, 0, 0, 0) 64.93%);
    }
    .large-text{
        position: relative;
        color: #fff;
        &::before{
            content: '';
            position: absolute;
            width: 3px;
            height: 72px;
            transform: rotate(-135deg);
            background-color: $red;
            top: -20px;
            left: -10px;
        }
    }
    .bg-block-title{
        color: #fff;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .text{
        &, p{
            color: #fff;
        }
    }

    .bg-block-inner{
        position: relative;
        z-index: 3;
        max-width: 340px;
    }
    &::before{
        content: '';
        position: absolute;
        right: 50px;
        bottom: -5px;
        width: 3px;
        height: 32px;
        background-color: $red;
        transform: rotate(-135deg);
        z-index: 3;
    }
}

.block-text{
    padding-top: 52px;
    padding-bottom: 58px;
    text-align: center;
    .bg-block-title{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .text{
        &, p{
            color: $lightDark;
        }
    }
}

.quotes-block{
    .big-quote{
        &:not(:first-child){
            padding-top: 40px;
        }
        &:not(:last-child){
            position: relative;
            padding-bottom: 40px;
            border-bottom: 1px dashed #EBEBEB;
            &::after{
                content: '';
                position: absolute;
                top: calc(100% - 17px);
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                width: 27px;
                height: 35px;
                background-image: url('../../img/icons/VS.svg');
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
}

.slider-thumbnails{
    padding-top: 8px;
    padding-left: 23px;
    padding-right: 30px;
    .slick-active.slick-current{
        opacity: .2;
    }
    .thumbnails-item{
        width: 80px!important;
        height: 80px;
        margin-left: 7px;
        margin-right: 7px;
    }
    .slick-arrow{
        border: none;
        background-color: transparent;
        outline: none;
        z-index: 4;
        &::before{
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            background-image: url('../../img/icons/right-arrow-angle.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
        &.slick-prev{
            left: -10px;
            &::before{
                transform: rotate(180deg);
            }
        }
        &.slick-next {
            right: -10px;
        }
    }
}

.social-buttons-amount{
    display: flex;
    margin-left: -23px;
    margin-right: 0px;
    .btn-social{
        margin-left: 2px;
        margin-right: 2px;
    }
}

.article-footer{
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px dashed #EBEBEB;
    border-bottom: 1px dashed #EBEBEB;
}

.btn-social{
    background-color: transparent;
    border: 1px solid #EBEBEB;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 90px;
    padding: 10px 12px;
    transition: all .3s ease-in-out;
    .icon{
        width: 18px;
        height: 18px;
        fill: $dark;
    }
    .text{
        font-family: $fontInter;
        font-size: 14px;
        font-weight: 500;
        color: $dark;
        display: block;
        margin-left: 22px;
    }
    &:hover{
        text-decoration: none;
        opacity: .7;
    }
}

.article-mark{
    margin-left: auto;
    display: flex;
    align-items: center;
    .text{
        display: block;
        font-family: $fontInter;
        font-size: 13px;
        color: $lightDark;
        margin-right: 10px;
        line-height: 20px;
    }
    .stars{
        display: flex;
        align-items: center;
        .star{
            background-color: transparent;
            border: none;
            outline: none;
            text-decoration: none;
            padding: 2px 5px;
            .icon{
                width: 18px;
                height: 18px;
                fill: #EDEDED;
            }
            &.red{
                .icon{
                    fill: $red;
                }
            }
        }
    }
}

.article-raiting{
    margin-left: 40px;
    .text{
        font-family: $fontInter;
        font-size: 13px;
        color: $lightDark;
        .mark{
            background-color: transparent;
            font-size: 18px;
            color: $red;
        }
    }
}


.interactive{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.article-aside{
    .interactive, .panel, .author-quote{
        margin-bottom: 32px;
    }

    .article-aside .panel-newspaper.panel-newspaper-large .panel-image::after{
        height: 100%;
    }

    .section-special-column{
        padding-top: 32px;
        padding-bottom: 32px;
        margin-bottom: 32px;
        .col-12{
            max-width: 100%;
            flex: 0 0 100%;
        }
        &::before{
            display: none;
        }
    }

    .special-panels-logo-block{
        justify-content: center;
        padding-bottom: 24px;
    }

    .panel-newspaper.panel-newspaper-large{
        position: relative;
        margin-bottom: 32px;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        .panel-image{
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            }
        }
        .panel-newspaper-title{
            position: absolute;
            bottom: 4px;
            left: 16px;
            right: 16px;
            &, a, span{
                font-size: 18px;
                color: #fff;
            }
        }
        .panel-newspaper-title-link{
            &::after{
                width: 12px;
                height: 12px;
            }
        }
    }
}

.section-more{
    .interactive-block{
        /*padding: 20px 43px;*/
        padding: 20px 0;
    }
}

.static-page-container{
    .article-col-inner{
        max-width: 926px;
        margin-left: auto;
        margin-right: auto;
    }
}

.section-author-top {
    padding-top: 16px;
    .container{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            left: 30px;
            right: 30px;
            top: -42px;
            height: 1px;
            background-color: #EBEBEB;
        }
    }

}