$red: #EE2F2F;
$dark: #212121;
$lightDark: #727272;
$lightGrey: #D6D6D6;

$fontPTSerif: 'PT Serif', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontRoboto: 'Roboto', sans-serif;


*{
    box-sizing: border-box;
}

body{
    font-size: 14px;
    overflow-x: hidden;
}

.body-overflow{
    overflow: hidden;
}

.container{
    max-width: 1366px;
    padding-left: 40px;
    padding-right: 40px;
}

img{
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.btn-special{
    position: relative;
    display: inline-block;
    text-decoration: none;
    transition: all .2s ease-in-out;
    .line{
        position: absolute;
        top: -2px;
        left: 15px;
        display: block;
        width: 2px;
        height: 45px;
        transform: rotate(45deg);
        background-color: $red;
        overflow: hidden;
        &::after{
            content: '';
            display: block;
            width: 4px;
            height: 45px;
            background-color: #fff;
            transform: translateY(100%);
            transition: all .8s ease-in-out;
        }
    }
    .word{
        font-family: $fontInter;
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: .5px;
        color: $red;
        text-transform: uppercase;
        &.row-one{
            display: block;
            margin-top: 7px;
            margin-left: 42px;
        }
        &.row-two{
            display: flex;
            align-items: baseline;
            margin-left: 20px;
            &::after{
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: $red;
                margin-left: 3px;
            }
        }
    }
    &:hover{
        text-decoration: none;
        opacity: .8;
        .line{
            &::after{
                transform: translateY(-100%);
            }
        }
    }
}

.btn-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    outline: none;
    transition: all .2s ease-in-out;
    .icon{
        width: 18px;
        max-width: 18px;
        max-height: 18px;
        height: auto;
        fill: $dark;
    }
    &:hover{
        opacity: .8;
    }
}

.cover-container{
    position: relative;
    overflow: hidden;
}

.cover{
    position: absolute;
    top: -1000%;
    left: -1000%;
    right: -1000%;
    bottom: -1000%;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.btn-outlined{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 36px;
    padding: 16px 46px;
    text-decoration: underline;
    font-family: $fontInter;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    letter-spacing: .5px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease;
    .text{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: #fff;
        }
    }
    &:hover{
        text-decoration: none;
        background-color: #fff;
        color: $red;
    }
    &.btn-colored{
        border-color: $red;
        color: $red;
        &:hover{
            background-color: #FFF7F7;
        }
    }  
}