.header{
    padding-top: 35px;
    .logo{
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        img{
            width: 134px;
        }
    }
    .col-right{
        display: flex;
        align-items: flex-start;
        .btn-special{
            margin-left: auto;
        }
    }
}

.btn-search-mobile, 
.btn-menu-mobile{
    display: none;
}

.social-list{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: -6px;
    margin-right: -6px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    li{
        margin-left: 6px;
        margin-right: 6px;
        a{
            display: block;
            padding-left: 6px;
            padding-right: 6px;
            .icon{
                max-width: 16px;
                max-height: 16px;
                width: auto;
                height: auto;
                fill: $lightGrey;
            }
            &:hover{
                opacity: .7;
            }
        }
    }
}

.item-with-search{
    position: relative;
    .input-search{
        position: absolute;
        top: -50%;
        right: 32px;
        padding: 8px 16px;
        width: 575px;
        border: none;
        border-bottom: 1px solid #EBEBEB;
        outline: none;
        opacity: 0;
        visibility: hidden;
        transition: all .4s ease-in-out;
        &.visible{
            opacity: 1;
            visibility: visible;
        }
    }
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 42px;
    margin-bottom: 42px;
    padding-left: 0;
    margin-left: -16px;
    margin-right: -16px;
    li{
        margin-left: 16px;
        margin-right: 16px;
        a{
            font-family: $fontInter;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: .5px;
            color: $dark;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s ease-in-out;
            &:hover{
                opacity: .7;
            }
        }
    }
}

.search-mobile{
    display: none;
}

.footer{
    padding-top: 44px;
    padding-bottom: 44px;
    .menu{
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }
}

.footer-row{
    padding-top: 60px;
    padding-bottom: 110px;
}

.small-text{
    &, a{
        font-size: 13px;
        line-height: 1.3;
        color: #ABABAB;
    }
    a{
        text-decoration: underline;
        &:hover{
            opacity: .7;
        }
    }
}

.col-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .small-text{
        text-align: right;
    }
}

.col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-images{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        margin-left: 10px;
        margin-right: 10px;
    }
}