.panel-large{
    position: relative;
    .panel-image{
        padding-bottom: 67.56%;
        width: 100%;
        height: 0;
    }
    .panel-title{
        margin-top: 22px;
        &, a, span{
            font-size: 28px;
            line-height: 1.2;
        }
        &, a{
            &::after{
                display: none;
            }
        }
    }
}

.panel{
    .panel-image{
        padding-bottom: 57.89%;
        width: 100%;
        height: 0;
    }
    .panel-title{
        margin-top: 18px;
        &, a, span{
            font-size: 18px;
            line-height: 1.33;
            color: $dark;
        }
        &, a{
            &::after{
                display: none;
            }
        }
        .panel-description-text{
            color: $lightDark;
        }
    }
}

.panel, .panel-newspaper, .panel-large{
    .panel-picture{
        transition: all 1.2s cubic-bezier(0.25, 1, 0.5, 1);
    }
    &:hover{
        .panel-picture{
            transform: scale(1.02);
        }
        .panel-title{
            opacity: .8;
        }
    }
}

.panel-tag{
    position: absolute;
    display: flex;
    align-items: baseline;
    left: 8px;
    bottom: 8px;
    z-index: 3;
    padding: 8px 12px;
    background-color: $red;
    color: #fff;
    font-family: $fontInter;
    font-weight: 700;
    font-size: 10px;
    line-height: 8px;
    letter-spacing: .5px;
    text-transform: uppercase;
    &::after{
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        margin-left: 2px;
        background-color: #fff;
    }
}

.panel-image{
    display: block;
    text-decoration: none;
}

.panel-title{
    font-family: $fontPTSerif;
    font-weight: normal;
    transition: all .3s ease;
    a{
        color: $dark;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
        &:hover{
            text-decoration: none;
        }
    }
}
.author-quote{
    margin-top: 30px;
    padding: 16px 16px 20px;
    border: 1px solid #EBEBEB;
    overflow: hidden;
}

.author-row{
    display: flex;
}

.author-image{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.author-name{
    margin-left: 17px;
    text-transform: uppercase;
    font-family: $fontInter;
    font-weight: 700;
    font-size: 11px;
    line-height: 1.3;
    color: $dark;
    margin-top: 15px;
    position: relative;
    text-indent: 20px;
    width: calc(100% - 73px);
    &::before{
        content: '';
        position: absolute;
        width: 2px;
        height: 60px;
        transform: rotate(45deg);
        background-color: $red;
        top: -42px;
    }
}

.author-quote-text{
    margin-top: 15px;
    &, span{
        font-family: $fontPTSerif;
        font-size: 18px;
        line-height: 1.3;
        font-weight: normal;
    }
    .author-quote-text-main,
    .author-quote-text-desc,
    .author-quote-text-secondary{
        color: $lightDark;
    }
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

.section-quote{
    padding-top: 45px;
    padding-bottom: 45px;
}

.section-quote-inner{
    border: 1px solid #EBEBEB;
    position: relative;
    .section-quote-title{
        position: absolute;
        top: -14px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        .section-quote-title-text{
            font-family: $fontInter;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.2;
            letter-spacing: .5px;
            color: $dark;
            background-color: #fff;
            padding: 8px 20px;
        }
    }
}

.big-quote{
    padding: 47px 32px 32px;
    &::before{
        content: '';
        display: block;
        width: 22px;
        height: 20px;
        background-image: url('../../img/icons/quotes.svg');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.quote-row{
    margin-left: 0;
    margin-right: 0;
    .col-6{
        padding-left: 0;
        padding-right: 0;
    }
}

.big-quote-text{
    display: block;
    font-family: $fontPTSerif;
    font-size: 22px;
    font-style: italic;
    line-height: 1.3;
    color: $dark;
    margin-top: 24px;
    margin-bottom: 24px;
}

.big-quote-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.big-quote-author{
    display: flex;
    align-items: center;
}

.big-quote-author-image{
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 16px;
    &::before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /*background-image: url('../../img/icons/person-icon.svg');*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.big-quote-author-name{
    position: relative;
    display: block;
    font-family: $fontInter;
    font-size: 11px;
    font-weight: 700;
    color: $dark;
    text-indent: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    &::before{
        content: '';
        display: block;
        width: 2px;
        height: 40px;
        background-color: $red;
        position: absolute;
        top: -20px;
        left: 14px;
        transform: rotate(45deg);
    }
}

.quote-result{
    display: flex;
    align-items: center;
}

.mark-row{
    display: flex;
    align-items: center;
    &:not(:last-child){
        margin-right: 25px;
    }
}

.btn-mark{
    background-color: #fff;
    border: 1px solid #EBEBEB;
    border-radius: 50%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;
    .icon{
        width: 8px;
        height: 8px;
    }
}

.mark-text{
    display: block;
    font-family: $fontInter;
    font-weight: 700;
    font-size: 11px;
    color: $red;
    margin-left: 8px;
}
.section-panels{
    margin-bottom: 24px;
    margin-top: 24px;
    .row{
        justify-content: center;
    }
    .panel, .small-banner{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .col-4{
        height: inherit;
        .panel, .author-quote{
            height: calc(100% - 30px);
        }
    }
}

.panel-category{
    display: block;
    margin-top: 20px;
    font-family: $fontInter;
    font-weight: 700;
    font-size: 11px;
    color: $red;
    text-transform: uppercase;
    &::after{
        content: '';
        display: inline-block;
        margin-left: 1px;
        width: 4px;
        height: 4px;
        background-color: $red;
        border-radius: 50%;
    }
    & + .panel-title{
        margin-top: 10px;
    }
}

.panel-info{
    display: block;
    margin-top: 8px;
    font-family: $fontInter;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3333;
    color: #ABABAB;
}

.small-banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
}

.image-btn-block{
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.panel-support{
    .panel-image{
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50%;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 56.56%, rgba(0, 0, 0, 0.7) 100%);
        }
    }
    .panel-title{
        position: relative;
        margin-top: 40px;
        &::before{
            content: '';
            position: absolute;
            top: -55px;
            left: 35%;
            width: 62px;
            height: 46px;
            background-image: url('../../img/icons/lines.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
    &:hover{
        .panel-title{
            opacity: 1;
        }
    }
}
.section-head .banner-full-width img {
    width: 100%;
    height: auto;
}
.large-banner{
    position: relative;
    overflow: hidden;
    min-height: 123px;
    height: 123px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-image: url('../../img/owl.png');*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    /*padding: 30px 60px;*/
    padding: 0;
    &::before{
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        mix-blend-mode: multiply;
        opacity: 0.8;
        background-color: $red;
    }
    .logo{
        position: relative;
        z-index: 2;
        text-decoration: none;
        img{
            width: auto;
            height: 60px;
        }
    }
    img {
        width: 100%;
    }
}
.section-large-banner .logo {
    position: absolute;
    text-decoration: none;
    top: 2em;
    left: 9em;
    z-index: 2;
    img {
        width: auto;
        height: 60px;
    }
}
.section-large-banner .btn-special.btn-special-lg{
    position: absolute;
    top: 2em;
    right: 6em;
}
.btn-special-lg{
    position: relative;
    z-index: 3;
    .line{
        background-color: #fff;
        height: 80px;
        top: -18px;
    }
    .word{
        color: #fff;
        font-size: 18px;
        line-height: 1.3;
        &.row-two{
            &::after{
                background-color: #fff;
            }
        } 
    }
}

.large-banner-icon{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 auto;
}

.author-quote.large{
    position: relative;
    padding: 32px 32px 62px;
    .author-image{
        width: 96px;
        height: 96px;
    }
    .author-name{
        font-size: 13px;
        margin-left: 18px;
        width: calc(100% - 114px);
        &::before{
            height: 80px;
            top: -60px;
            left: 25px;
        }
    }
    &::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 30px;
        transform: rotate(45deg);
        background-color: $red;
        bottom: -5px;
        left: 40px;
    }
    .author-quote-text{
        margin-top: 24px;
        &, span{
            font-size: 22px;
        }
    }
}

.button-block-center{
    text-align: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.btn-outlined.btn-bright{
    padding-left: 67px;
    padding-right: 67px;
    border-color: $red;
    display: inline-flex;
    align-items: center;
    transition: all .2s ease-in-out;
    .icon + .text{
        margin-left: 10px;
    }
    .icon{
        width: 16px;
        height: 16px;
        fill: $red;
        transition: all .2s ease-in-out;
    }
    .text{
        display: block;
        color: $red;
        transition: all .2s ease-in-out;
        &::after{
            display: none;
        }
    }
    &:hover{
        text-decoration: none;
        background-color: $red;
        .text{
            color: #fff;
        }
        .icon{
            fill: #fff;
        }
    }
}

.section-special-panels{
    padding-top: 48px;
    padding-bottom: 48px;
}

.section-special-column{
    position: relative;
    overflow: hidden;
    padding: 56px 32px;
    /*background-image: url('../../img/bg.jpeg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 300px;
        height: 1560px;
        left: 585.33px;
        top: -433.84px;
        left: 0;
        background-color: #CF172B;
        transform: rotate(42deg);
        mix-blend-mode: multiply;
    }
    .col-lg-4, .col-lg-3{
        max-width: 28.08%;
        flex: 0 0 28.08%;
    }
    .col-lg-5{
        max-width: 43.83%;
        flex: 0 0 43.83%;
    }
}

.special-panels-logo-block{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.panel-newspaper{
    &:not(:last-child){
        margin-bottom: 20px;
    }
    .panel-image{
        padding-bottom: 54.45%;
        border-radius: 3px;
    }
    .panel-newspaper-title-link{
        transition: all .3s ease-in-out;
    }
    &:hover{
       .panel-newspaper-title-link{
           opacity: .8;
       } 
    }
}

.panel-newspaper-large{
    .panel-image{
        padding-bottom: 72%;
    }
    .panel-newspaper-title{
        margin-top: 22px;
        &, a, span{
            font-size: 30px;
        }
    }
    .panel-newspaper-title-link{
        &::after{
            width: 18px;
            height: 18px;
            background-image: url('../../img/icons/arrow.svg');
        }
    }
}

.panel-newspaper-title{
    margin-top: 8px;
    &, a, span{
        font-size: 18px;
        line-height: 1.3;
    }
}

.panel-newspaper-title-link{
    font-family: $fontRoboto;
    color: $dark;
    line-height: 1.2;
    &:hover{
        text-decoration: none;
        color: $dark;
    }
    .panel-newspaper-title-main{
        font-weight: 900;
    }
    .panel-newspaper-title-description{
        font-weight: 400;
    }
    &::after{
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url('../../img/icons/arrow-small.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        margin-left: 3px;
    }
}

.main-page-block{
    /*margin-top: 283px;*/
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1329px;
    position: relative;
    z-index: 4;
}

.upper-main-page-info{
    margin-left: auto;
    margin-right: auto;
    /*max-width: 1329px;*/
    position: relative;
}

.logo-adv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;   
    margin-top: 60px;
    margin-bottom: 50px;
    mix-blend-mode: color-dodge;
}

.img-adv{
    position: absolute;
    top: -50%;
    left: 0;
    right: 0;
    bottom: -50%;
    margin: auto;
    width: 225px;
    height: auto;
}

.upper-main-page-block {
    /*background: linear-gradient(180deg, #F1F1F1 0%, #CBCBCB 100%);*/
    padding: 1px 100px 0;
    position: relative;
    #adbrandbg {
        top: 0;
        left:0;
        position: absolute;
        display: inline;
        width: 100%;
        cursor: pointer;
        text-decoration: none;
        z-index: 1;
    }
}

.category-name{
    display: flex;
    align-items: baseline;
    padding: 12px 14px;
    background-color: #FBFBFB;
    color: $red;
    font-family: $fontInter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 8px;
    /* or 44% */

    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &::after{
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $red;
        margin-left: 3px;
    }
}
#author-single {
    .author-row {
        width: 50%;
        margin-left: 0px;
    }
    .role {
        position: absolute;
        top: 94px;
        left: 16%;
    }
}
.author-block.large{
    padding-left: 0;
    padding-right: 0;
    border: none;
    display: flex;
    .author-row{
        margin-left: 128px;
        margin-right: 150px;
        width: calc(50% - 278px);
    }
    .author-quote-text{
        width: 50%;
        margin-top: 0;
        .author-quote-text-main{
            display: block;
            font-style: italic;
            margin-bottom: 16px;
        }
        .author-quote-text-desc{
            font-size: 19px;
        }
    }
    .author-column{
        width: calc(100% - 136px);
        margin-left: 40px;
        .author-name{
            width: 100%;
            &::before{
                left: 10px;
            }
        }
    }
    .author-desc{
        display: block;
        font-family: $fontPTSerif;
        font-size: 16px;
        color: $lightDark;
        margin-top: 4px;
    }
    &::after{
        display: none;
    }
}
.author-block.large .role {
    position: absolute;
    top: 94px;
    left: 240px;
}
.author-block.large .role span {
    font-size: 20px;
    color: #727272;
}
.author-quote-text-title{
    font-size: 36px;
    color: $dark;
    line-height: 1.4;
    margin-bottom: 16px;
}

.border-block-center{
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
}

.border-block-wrap{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.type-labels-amount{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    .type-label{
        margin-left: 16px;
        margin-right: 16px;
    }
}

.type-label{
    display: block;
    input{
        display: none;
        &:checked{
            & + .label-text{
                color: $red;
                border-bottom: 2px solid $red;
            }
        }
    }
    .label-text{
        position: relative;
        font-family: $fontInter;
        font-size: 15px;
        font-weight: 500;
        line-height: 2;
        color: $dark;
        padding-bottom: 10px;
        border-bottom: 1px dotted $red;
        cursor: pointer;
        transition: color .2s ease-in-out;
    }
}

.double-labels-amount{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.double-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    input{
        display: none;
        &:checked{
            & + .label-text{
                background-color: #FFF7F7;
                border-color: #FFF7F7;
                color: $red;
            }
        }
    }
    .label-text{
        display: block;
        width: 100%;
        text-align: center;
        font-family: $fontInter;
        font-weight: 500;
        font-size: 15px;
        line-height: 1.4;
        color: $dark;
        border: 1px solid #EDEDED;
        padding: 14px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }
    &:nth-child(2n+1){
        .label-text{
            border-top-left-radius: 22px;
            border-bottom-left-radius: 22px;
        }
    }
    &:nth-child(2n){
        .label-text{
            border-top-right-radius: 22px;
            border-bottom-right-radius: 22px;
        }
    }
}

.round-labels-amount{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    .round-label{
        margin-left: 2px;
        margin-right: 2px;
        width: calc(25% - 4px);
    }
}

.round-label{
    input[type=radio]{
        display: none;
        &:checked{
            & + .label-text{
                color: $red;
                background-color: #FFF7F7;
                border-color: #FFF7F7;
            }
        }
    }
    .label-text, input[type=number]{
        display: block;
        font-family: $fontInter;
        font-weight: 500;
        font-size: 15px;
        line-height: 2;
        padding: 7px 14px;
        border: 1px dashed #EBEBEB;
        border-radius: 22px;
        text-align: center;
        color: $dark;
        cursor: pointer;
    }
    input[type=number]{
        padding-left: 4px;
        padding-right: 4px;
        outline: none;
        width: 100%;
        -moz-appearance: textfield;
        border: 1px solid  #EBEBEB;
        &::placeholder{
            color: #9A9A9A;
        }
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
            -webkit-appearance: none;
            margin: 0;
        }
        &.checked{
            color: $red;
            background-color: #FFF7F7;
            border-color: #FFF7F7;
        }
    }
}

.dashed-separator{
    display: block;
    width: 100%;
    height: 1px;
    border-top: 1px dashed #EBEBEB;
}

.mail-row{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    .mail-input{
        width: calc(100% - 208px);
        margin-right: 8px;
    }
    .btn-colored{
        width: 200px;
    }
}

.mail-input{
    border-radius: 24px;
    padding: 15px 20px;
    text-align: center;
    font-family: $fontRoboto;
    font-weight: 400;
    outline: none;
    border: 1px solid #EBEBEB;
    &::placeholder{
        color: #9A9A9A;
    }
}

.social-row{
    display: flex;
    align-items: center;
    justify-content: center;
    .text-sm{
        color: #9A9A9A;
        display: block;
        margin-right: 8px;
    }
}

.text-sm{
    font-family: $fontInter;
    font-size: 13px;
}

.section-article-more{
    padding-top: 48px;
    padding-bottom: 48px;
}

.t-center{
    text-align: center;
}

.article-more-title{
    font-family: $fontPTSerif;
    font-weight: normal;
    font-size: 28px;
    line-height: 1.4;
    color: $dark;
}

.article-more-text{
    margin-top: 8px;
    &, p{
        font-family: $fontPTSerif;
        font-size: 19px;
        line-height: 1.5;
        color: $dark;
    }
}

.btn-article-more{
    background-color: transparent;
    outline: none;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:hover{
        text-decoration: none;
    }
    .round{
        display: block;
        width: 50px;
        height: 50px;
        border: 1px dashed #EBEBEB;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-right: 10px;
        .icon{
            width: 18px;
            height: auto;
        }
    }
    .text{
        font-family: $fontInter;
        font-weight: 700;
        font-size: 12px;
        color: $red;
        text-transform: uppercase;
        color: $red;
        letter-spacing: 1px;
    }
}

.questions-wrap{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.question-accordeon{
    padding-top: 24px;
    padding-bottom: 24px;
    &:not(:last-child){
        border-bottom: 1px dashed #EBEBEB;
    }
    &.opened{
        .question-answer{
            opacity: 1;
            visibility: visible;
            max-height: 2000px;
            p{
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
        .question-ask{
            .ask-sign{
                &::after{
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

.question-ask{
    font-family: $fontPTSerif;
    font-size: 22px;
    line-height: 1.4;
    color: $dark;
    display: flex;
    align-items: baseline;
    margin-left: -38px;
    cursor: pointer;
    p{
        margin-top: 0;
        margin-bottom: 0;
    }
    .ask-sign{
        position: relative;
        width: 16px;
        height: 16px;
        margin-right: 22px;
        &::before, &::after{
            content: '';
            position: absolute;
            display: block;
            width: 16px;
            height: 2px;
            background-color: $red;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &::after{
            transition: all .3s ease-in-out;
            transform: translate(-50%, -50%) rotate(90deg);
        }
    }
}

.question-answer{
    font-family: $fontPTSerif;
    font-size: 19px;
    line-height: 1.4;
    color: $dark;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    transition: all .3s ease-in-out;
    p{
        margin-top: 0;
        margin-bottom: 0;
        transition: all .3s ease-in-out;
    }
}
.slider.slick-slider .slick-list.draggable {
    height: 550px !important;
}

.slider.slick-slider .slick-list.draggable .slick-slide img{
    height: auto;
    width: 100%;
    /*height: 550px !important;
    width: auto;*/
}
.nav-menu .menu-item.current-menu-item a{
    color: #EE2F2F;
}
.d-block.d-sm-none.article-aside {
    height: 304px;
    overflow: hidden;
}
.error-404.not-found {
    padding-top: 100px;
    padding-bottom: 100px;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -137em;
    min-height: 2em;
}
.article-col-inner .article-image.wide {
    margin-left: -48px;
    margin-right: -48px;
}

.error-404.not-found {
    text-align: center;
    color: #D6D6D6;
}
.button-block-center .home-404 a{
    text-align: center;
    color: #D6D6D6;
    text-decoration: none;
}
.author-block.single {
    padding-bottom: 0;
    .author-row {
        margin-left: 19px;
        margin-right: 150px;
        width: calc(62% - 278px);
        .role {
            left: 20%;
        }
    }
} 
#srchresult .search-found {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #212121;
    .result-items ul {
        list-style-type: none;
        padding-left: 26px;
        li{
            padding-bottom: 15px;
            a {
                color: #212121;
                text-decoration: none;
                text-transform: uppercase;
                transition: all 0.2s ease-in-out;   
                p {
                    margin-bottom: 0;;
                }
            }
        }
        li.hidden {
            display: none;
        }
    }
}
