@media(max-width: 1199px){
    .footer{
        .social-list{
            justify-content: center;
            padding-bottom: 24px;
            border-bottom: 1px dashed #EBEBEB;
        }
        .nav-menu{
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    .footer-row{
        padding-bottom: 24px;
        border-bottom: 1px dashed #EBEBEB;
        .col-right{
            align-items: center;
            .small-text{
                text-align: center;
            }
        }
    }

    .footer-row-bottom{
        padding-top: 24px;
    }

    .article-image {
        padding-top: 32px;
    }

    .article-col-inner {
        padding-left: 32px;
        padding-right: 32px;
    }

    .upper-main-page-info{
        display: none;
    }

    .upper-main-page-block{
        padding: 0;
        background-color: #fff;
    }
    .sticky {
        top: -129em;
    }
    .d-none.d-sm-block.banner-tech {
        margin-left: 0;
        margin-right: 0;
    }
    .main-page-block {
        margin-top: 0;
    }
}