@media(max-width: 425px){
    #author-single {
        .role {
            top: 52%;
            left: 25%;
        }
    }
    .section-large-banner .btn-special.btn-special-lg {
        position: absolute;
        top: 13em;
        right: 12em;
    }
    .section-large-banner .logo {
        top: 4em;
        left: 11em;
    }
    .author-block.single {
        .author-row {
            .role {
                 left: 87px;
                top: 52px;
            }
        }
    } 
}