@media(max-width: 320px){
    #author-single {
        .role {
            top: 52%;
            left: 35%;
        }
    }
    .section-large-banner{
        .btn-special.btn-special-lg {
            top: 13em;
            right: 8em;
        }
    } 
    .section-large-banner .logo {
        top: 2em;
        left: 10em;
    }
}