@media(max-width: 767px){
    .big-quote{
        padding-left: 0;
        padding-right: 0;
        &::before{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .big-quote-row{
        flex-direction: column;
        .quote-result{
            margin-top: 24px;
        }
    }

    .big-quote-text{
        font-size: 20px;
    }

    .panel-info{
        font-size: 12px;
    }

    .panel .panel-category + .panel-title{
        margin-top: 6px;
    }

    .panel-category{
        margin-top: 10px;
    }

    .section-panels {
        .panel, .small-banner{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .panel-support .panel-title::before{
        top: -40px;
    }

    .banner-tech{
        margin-left: 0;
        margin-right: 0;
    }

    .section-category{
        padding-top: 20px;
    }

    .author-block.large{
        padding-top: 16px;
        padding-bottom: 16px;
        flex-wrap: wrap;
        .author-row{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            margin-bottom: 16px;
        }
        .author-quote-text{
            width: 100%;
        }
    }

    .question-ask .ask-sign{
        margin-right: 16px;
    }

    .question-ask{
        margin-left: 0;
    }

    .question-answer{
        margin-left: 22px;
    }

    .question-accordeon{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .question-ask{
        font-size: 20px;
    }

    .question-answer{
        font-size: 16px;
    }
    .section-large-banner .logo {
        top: 2em;
        left: 8em;
    }
}