@media(max-width: 575px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }

    .section-main{
        .panel-large{
            margin-bottom: 40px;
            .panel-image{
                width: calc(100% + 32px);
                margin-left: -16px;
                margin-right: -16px;
            }
            .panel-tag{
                left: 16px;
            }
        }
    }

    .panel-large{
        .panel-title{
            margin-top: 15px;
            &, a, span{
                font-size: 26px;
            }
        }
    }

    .panel{
        .panel-title{
            margin-top: 14px;
            &, a, span{
                font-size: 22px;
            }
        }
    }

    .section-large-banner{
       width: calc(100% + 32px);
       margin-left: -16px;
       margin-right: -16px;
       .large-banner{
           padding-top: 60px;
           padding-bottom: 60px;
            display: flex;
            flex-direction: column;
            .logo{
                margin-bottom: 35px;
            }
            .btn-special-lg .word{
                font-size: 17px;
            }
       } 
       .btn-special.btn-special-lg {
            position: absolute;
            top: 9em;
            right: 6em;
            .word{
                font-size: 17px;
            }
        }
    }
    .section-large-banner .large-banner {
        height: auto;
        padding: 0;
        img {
            width: 100%;
            height: auto;
        }
    }

    .section-special-column{
        .col-12{
            max-width: 100%;
            flex: 0 0 100%;
        }
        &::before{
            top: -656px;
        }
    }

    .panel-newspaper.panel-newspaper-large{
        position: relative;
        margin-bottom: 32px;
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        .panel-image{
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 60%;
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            }
        }
        .panel-newspaper-title{
            position: absolute;
            bottom: 4px;
            left: 16px;
            right: 16px;
            &, a, span{
                font-size: 18px;
                color: #fff;
            }
        }
        .panel-newspaper-title-link{
            &::after{
                width: 12px;
                height: 12px;
            }
        }
    }

    .border-block{
        padding: 26px 16px 0;
        .panel {
            margin-bottom: 30px;
            .panel-title{
                &, a, span{
                    font-size: 20px;
                }
            }
        }
    }

    .border-panel{
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        .panel, .panel-image{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        .panel-image{
            padding-top: 64%;
            &:not(:last-child){
                margin-bottom: 12px;
            }
        }
    }

    .bg-block{
        text-align: center;
        padding: 60px 24px 60px;
        &::before{
            display: none;
        }
        .large-text{
            &::before{
                display: none;
            }
        }
        .bg-block-title{
            margin-top: 8px;
        }
        .text p{
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .block-text{
        padding-top: 24px;
        padding-bottom: 8px;
    }

    .content .quotes-block .section-quote-inner{
        padding-left: 16px;
        padding-right: 16px;
    }

    .section-author-top {
        padding-top: 0;
        .container{
            &::before{
                top: -20px;
                left: 16px;
                right: 16px;
            }
        }
    }

    .section-special-panels{
        padding-bottom: 16px;
    }

    .round-labels-amount .round-label{
        width: calc(50% - 4px);
    }

    .double-labels-amount{
        margin-top: 16px;
    }

    .round-labels-amount{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .mail-row{
        margin-top: 20px;
        margin-bottom: 20px;
        flex-wrap: wrap;
        .mail-input{
            width: 100%;
            margin-right: 0;
            margin-bottom: 8px;
        }
        .btn-colored{
            width: 100%;
        }
    }

    .social-row{
        margin-bottom: 32px;
        flex-wrap: wrap;
        .text-sm{
            margin-bottom: 8px;
            width: 100%;
            text-align: center;
        }
        .social-list{
            width: 100%;
            justify-content: center;
        }
    }

    .section-article-more{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .article-more-title{
        font-size: 22px;
    }

    .btn-article-more{
        width: 100%;
        justify-content: center;
    }
    .social-buttons-amount {
        margin-left: -2px;
        margin-right: -2px;
    }
}