@media(max-width: 750px){
    .type-labels-amount{
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: center;
        .type-label{
            margin-bottom: 16px;
        }
    }
}