@media(max-width: 640px){
    .btn-search-mobile{
        display: flex;
        width: 28px;
        .icon-close{
            display: none;
        }
    }

    .btn-menu-mobile{
        position: relative;
        display: block;
        width: 28px;
        height: 20px;
        padding: 0;
        .line{
            position: absolute;
            display: block;
            width: 28px;
            height: 2px;
            background-color: $dark;
            transition: all .3s ease;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                width: 20px;
                margin-left: auto;
                top: 9px;
                right: 0;
            }
            &:nth-child(3){
                top: 18px;
            }
        }
    }

    .header{
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        background-color: #fff;
        .col-4{
            position: static;
            max-width: 100%;
            flex: 0 0 100%;
        }
        .social-list{
            position: fixed;
            z-index: 3;
            bottom: 14vh;
            padding-top: 20px;
            padding-bottom: 20px;
            background-color: #fff;
            left: 0;
            right: 0;
            margin: auto;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            z-index: 5;
            transition: all .3s ease-in-out;
            li a .icon{
                max-width: 20px;
                max-height: 20px;
            }
        }
        .logo{
            padding-top: 0;
        }
        .col-right{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            min-height: 14vh;
            opacity: 0;
            visibility: hidden;
            z-index: 5;
            transition: all .3s ease-in-out;
            .btn-special{
                margin-left: 0;
                margin-right: 0;
                padding-bottom: 10px;
                .line{
                    height: 80px;
                    top: -16px;
                    left: 4px;
                    &::after{
                        height: 80px;
                    }
                }
             }
        }
        .menu{
            margin-top: 0;
            margin-bottom: 0;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            padding-top: 74px;
            padding-bottom: 50px;
            max-height: 61vh;
            overflow-y: auto;
            opacity: 0;
            visibility: hidden;
            transition: all .3s ease-in-out;
            li{
                a{
                    display: block;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 16px;
                }
            }
        }
        .nav-menu{
            position: fixed;
            left: 0;
            right: 0;
            top: 77px;
            width: 100%;
            height: 0;
            background-color: #fff;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 4;
            transition: all .3s .4s ease-in-out;
            .btn-search{
                display: none;
            }
        }
        &.open-menu{
            .btn-menu-mobile{
                .line{
                    &:nth-child(1){
                        width: 20px;
                        top: 50%;
                        left: 25%;
                        transform-origin: 50% 50%;
                        transform: rotate(-45deg); 
                    }
                    &:nth-child(2){
                        opacity: 0;
                    }
                    &:nth-child(3){
                        width: 20px;
                        top: 50%;
                        left: 25%;
                        transform-origin: 50% 50%;
                        transform: rotate(45deg); 
                    }
                }
            }
            .col-right{
                opacity: 1;
                visibility: visible;
                transition: all .4s .3s ease-in-out;
            }
            .nav-menu{
                height: calc(100vh - 77px);
                transition: all .4s ease-in-out;
                .menu{
                    opacity: 1;
                    visibility: visible;
                    transition: all .4s .3s ease-in-out;
                }
            }
            .social-list{
                opacity: 1;
                visibility: visible;
                transition: all .4s .3s ease-in-out;
            }
        }
        &.open-search{
            .search-mobile{
                opacity: 1;
                visibility: visible;
            }
            .btn-search-mobile{
                .icon-close{
                    display: block;
                }
                .icon-open{
                    display: none;
                }
            }
        }
    }

    .search-mobile{
        display: block;
        position: fixed;
        top: 77px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 5;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease-in-out;
        .form-search{
            position: relative;
        }
        .input-form{
            width: 100%;
            padding: 14px 40px 14px 16px;
            border: none;
            outline: none;
            background-color: #F9F9F9;
            &::placeholder{
                color: #727272;
                font-size: 14px;
            }
        }
        .btn-search{
            position: absolute;
            top: calc(50% - 10px);
            right: 16px;
        }
    }

    .col-header-mob{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .large-banner-icon{
        display: none;
    }

    .author-quote.large {
        padding: 24px 16px 32px;
        .author-image{
            width: 80px;
            height: 80px;
        }
        .author-quote-text{
            margin-top: 15px;
            &, span{
                font-size: 20px;
            }
            &, .d-block.d-sm-none.button-block-center {
                margin-top: 20px;
                margin-bottom: 10px;
                a.btn-outlined {
                    padding-left: 30px;
                    padding-right: 30px;
                    &, span{
                        font-size: 14px;
                    }
                }
            }
        }
        &::after {
            display: none;
        }
    }

    .section-special-column{
        width: calc(100% + 32px);
        margin-left: -16px;
        margin-right: -16px;
        &::before{
            top: -570px;
        }
    }

    .footer{
        .menu{
            flex-direction: column;
            text-align: center;
            justify-content: center;
            li{
                a{
                    display: block;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    }

    .article-container{
        padding-top: 32px;
    }

    .article-col-inner{
        padding-left: 0;
        padding-right: 0;
    }

    .main-article-info{
        flex-wrap: wrap;
        span{
            margin-bottom: 4px;
        }
    }

    .article-title{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 28px;
    }

    .article-description{
        font-size: 17px;
    }

    .article-image{
        padding-top: 16px;
    }

    .content{
        padding-top: 16px;
        padding-bottom: 16px;
        h2{
            font-size: 26px;
        }
        h3{
            font-size: 24px;
        }
        h4{
            font-size: 22px;
        }
        h5{
            font-size: 20px;
        }
        p{
            margin-top: 16px;
            margin-bottom: 16px;
        }
        p, a, ul li, ol li{
            font-size: 17px;
        }
        blockquote, blockquote p{
            font-size: 20px;
        }
        blockquote.small-blockquote, 
        blockquote.small-blockquote p{
            font-size: 17px;
        }
    }

    blockquote{
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .content{
        .border-block,
        .slider-container{
            margin-left: 0;
            margin-right: 0;
        }
    }

    .btn-social{
        min-width: 70px;
        .text{
            margin-left: 8px;
        }
    }

    .article-mark,
    .article-raiting{
        margin-bottom: 8px;
    }


    .section-more .interactive-block{
        padding-top: 4px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .author-block.large{
        padding: 0;
        .author-row{
            margin-bottom: 8px;
        }
        .author-quote-text{
            margin-top: 8px;
            .author-quote-text-main{
                margin-bottom: 4px;
            }
            .author-quote-text-desc{
                font-size: 17px;
            }
        }

    }

    .author-quote-text-title{
        font-size: 22px;
    }

}