@media(max-width: 1400px){
    // .content{
    //     .border-block,
    //     .slider-container{
    //         margin-left: -60px;
    //         margin-right: -60px;
    //     }
    // }
}

@media(max-width: 1340px){
    .article-footer{
        flex-wrap: wrap;
        justify-content: center;
    }

    .social-buttons-amount{
        width: 100%;
        margin-bottom: 16px;
        justify-content: center;
    }

    .article-mark{
        margin-left: 0;
    }

    .article-aside{
        .panel-newspaper-title-link{
            display: inline-block;
            max-height: 90px;
            overflow: hidden;
        }
    }
    .article-footer {
        padding-left: 0;
    }
}