@media(max-width: 1080px){
    .article-col-inner{
        padding-left: 0;
        padding-right: 0;
    }

    // .content{
    //     .border-block,
    //     .slider-container{
    //         margin-left: -20px;
    //         margin-right: -20px;
    //     }
    // }
}