@media(max-width: 991px){
    .col-sm-center{
        margin-top: 20px;
        margin-bottom: 20px;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .panel.panel-support{
        .btn-outlined{
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .section-special-column{
        padding: 40px 16px;
        .col-12{
            max-width: 100%;
            flex: 0 0 100%;
        }
        .col-6, .col-sm-6{
            max-width: 50%;
            flex: 0 0 50%;
        }
    }

    .special-panels-logo-block{
        justify-content: center;
        padding-bottom: 30px;
    }

    .footer{
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-row{
        padding-top: 0;
    }

    .footer-images{
        display: none;
    }

    .footer-row-bottom{
        .small-text{
            display: block;
            text-align: center;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
        }
        .col-right{
            margin-top: 24px;
        }
    }

    .article-col-inner{
        padding-left: 32px;
        padding-right: 32px;
    }
    

    .article-container{
        & > .row{
            flex-direction: column-reverse;
        }
    }

    .article-aside{
        height: 304px;
        overflow: hidden;
        margin-bottom: 30px;
        div, img{
            &:not(:first-child){
                display: none;
            }
            
        }
        img:first-child{
            &.interactive{
                display: block;
            }
        }
    }
    .slider.slick-slider .slick-list.draggable {
        height: 258px !important;
    }
}