@media(max-width: 960px){
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .header{
        padding-top: 20px;
        .menu{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }

    .header .logo img{
        width: 100px;
    }

    .author-block.large{
        padding-bottom: 32px;
        .author-row{
            margin-left: 30px;
            margin-right: 30px;
            width: calc(47% - 60px);
        }
        .author-quote-text{
            width: 53%;
        }
    }

    .section-author-top {
        .container{
            &::before{
                left: 20px;
                right: 20px;
            }
        }
    }

    .author-quote-text-title{
        font-size: 28px;
    }
}