@media(max-width: 320px){
    #author-single {
        .role {
            top: 52%;
            left: 35%;
        }
    }
    .section-large-banner{
       .btn-special.btn-special-lg {
            position: absolute;
            top: 9em;
            right: 6em;
        }
    }
    .section-large-banner .logo {
        top: 2em;
        left: 8em;
    }
}